<% unless @rand_sponsor.nil? %>
<h3><%= t('sponsors.sidebar.title') %>:</h3>
<div class="sponsor">
	<div class="sponsorLogo">
		<table width="100%" height="100%" align="center" valign="center">
		 	<tr class="centerer">
			  <td>
  		  	<%= image_fu @rand_sponsor.logo, '155x155', :title => @rand_sponsor.title %>
	   		  </td>
			</tr>
	   	  </table>
		<span></span>
	</div>
	<div class="sponsorCard">
		<div class="sponsorUrl">
			<% unless @rand_sponsor.url.size < 1 %>
	      		<%=raw link_to @rand_sponsor.title, @rand_sponsor.url, :target => "_blank" %>
			<% else %>
	      		<%=raw @rand_sponsor.title %>
			<% end %>
		</div>
		<div class="sponsorDesc">
    		<%=raw @rand_sponsor.description %>
		</div>
	</div>
</div>

<%- if local_assigns[:sponsor_already].nil? then sponsor_already = false end -%>

<% unless sponsor_already %>
	<% content_for :stylesheets, stylesheet_link_tag('sponsors') %>

	<% content_for :javascripts do %>
	<%= jquery_include_tags(:jquery_ui => true) %>
	<%= javascript_include_tag('jquery.flip.min.js') %>
	<script>
	$(document).ready(function(){
		$('.sponsor').bind("click",function(){
			var elem = $(this);
			if(elem.data('flipped'))
			{
				elem.children("div:first").show("drop");
				elem.children("div:last").hide();
				elem.data('flipped',false)
			}
			else
			{
				elem.children("div:first").hide("fold");
				elem.children("div:last").show();
		 		elem.data('flipped',true);
			}
		});  
	});
	</script>
	<% end %>
<% end %>

<% end %>